Package: com.yourcompany.trgamehack
Name: TRgameHack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: chen diyu
Author: chen diyu
Section: Tweaks
